* {
    margin: 0;
}

body {
    background-color: #82F9B4;
}

h1 {
    padding-top: 15px;
    padding-bottom: 10px;

}
p {
    padding-top: 10px;
}

header {
    line-height: 90px;
    width: 100%;
    height: 70px;
    background-color: #67C78F;
    position: relative;
    top: 0;
    padding-bottom: 10px;

    text-align: center;
}
header p{
    font-weight: bold;
    font-size:25px;
    color: darkgreen;
    font-family: monospace;
}
nav {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #98fac1;
    text-align: center;
    position: relative;
}
nav a{
    color: darkgreen;
    text-decoration:none;
}
nav a:hover{
    text-decoration:overline;

}
article {
    padding-top: 10px;
    position: relative;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #67C78F;
    position: fixed;
    bottom: 0;
    text-align: center;
}
footer p{
    padding-top: 8px;
    font-size: large;
    
}
.android{
    font-size: smaller;
}


.tocenter {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

nav p {
    font-size: 15px;
}

.centerbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 480px){
    header p{
        font-size:1rem;
    }
    footer p{
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        font-size: small;
    }
    .center {
        display: grid;
    }
    /*
    .center a img {
        width: 40px;
    }*/
}
@media screen and (max-width: 323px){
    footer p{
        padding-top: 2px;
        padding-left: 2px;
        padding-right: 2px;
        font-size: small;
        
    }
}