body {
    background-color: #82F9B4;
}

header {
    width: 100%;
    height: 100px;
    background-color: #67C78F;
    position: fixed;
    top: 0;
    padding-left: 10%;
    margin-left: -10%;

}
nav {
    position: relative;
    top: 90px;
}
article {
    position: relative;
    top: 100px;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #67C78F;
    position: fixed;
    bottom: 0;
    padding-left: 10%;
    margin-left: -10%;
}
footer p{
    font-size: smaller;
    
}